html{
background-color: lightblue;
}

.title{
   background-color: hsl(186.6, 51.9%, 69%);
   border-width: 4px;
   border-style: solid;
   border-color: hsl(184.3,50%,94.5%);
   padding: 30px;
   margin: 20px;
}